---
layout: page
title: The Karma Bazaar
permalink: /karmabazaar/index.html
---
<a href="{{ '/pdf/the_karma_bazaar.pdf' | prepend: site.baseurl }}">
	<img src="{{ '/images/the_karma_bazaar_cover.jpg' | prepend: site.baseurl }}" alt="The Karma Bazaar" width="300" height="448" style="float:right; margin-left:10px;" />
</a>
<h3>Selected Poems from The Karma Bazaar</h3>
<ul>
	{% for page in site.pages %}
	{% if page.collections == "karmabazaar" %}
	<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
	{% endif %}
	{% endfor %}
</ul>
