---
layout: page
title: Door in the Forest
permalink: /doorintheforest/index.html
---

<a href="/pdf/the_door_in_the_forest.pdf"><img src="/images/the_door_in_the_forest_cover.jpg" alt="book cover" width="300" height="448" style="float:right;margin-left:10px;" /></a>
<h3>Selected Poems from The Door In The Forest</h3>
<ul>
	{% for page in site.pages %}
	{% if page.collections == "doorintheforest" %}
	<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
	{% endif %}
	{% endfor %}
</ul>
